<li><%= link_to dream.title, dream_path(dream) %>, by <%= link_to dream.user.name, user_path(dream.user) %>, on <%= dream.clean_date %><strong><%= " | N" if dream.dream_type=="nightmare" %></strong></li>
